.men{
    display:flex ;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
}
.jam{
    text-align: center;
    font-size: 25px;
    font-family: GALLANT ;
}
.lorem{
    font-size: 25px;
    color: blue;
    background-color: brown;
    margin: 10px 0%;
    text-align: center;
    width: 70px;
    font-family: GALLANT;
}
.knopka{
    text-decoration: none;
    background-color: blue;
    color: azure;
    display: flex;
    margin:12px 0px;
    font-size: 25px;
    justify-content:center ;
    font-family:GALLANT;
}
@font-face{
    font-family:GALLANT ;
    src: url(./font/GALLANT.ttf);
}
span{
    font-family: GALLANT;
}
.gym{
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.men{
    background-image: url(../робота\ 1/gam.jpg);
    background-size:cover;
}

   
